/* styles.css */

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://us.123rf.com/450wm/virtosmedia/virtosmedia2301/virtosmedia230115324/197244718-%E5%B7%A5%E5%A0%B4%E5%86%85%E3%81%AE%E3%83%96%E3%83%A9%E3%83%B3%E3%83%89%E3%83%AC%E3%82%B9%E3%82%B8%E3%82%A7%E3%83%8D%E3%83%AA%E3%83%83%E3%82%AF%E3%83%90%E3%82%A4%E3%82%AF%E3%81%AE3d%E3%83%AC%E3%83%B3%E3%83%80%E3%83%AA%E3%83%B3%E3%82%B0.jpg'); /* Agrega la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen en el fondo */
  background-attachment: fixed; /* Mantiene la imagen estática al hacer scroll */
}

/* Estilos del encabezado */
.header-container {
  margin-top: 50px;
  margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
  margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.header {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semi transparente para el encabezado */
  padding: 25px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de transparencia */
}

.header-title {
  color: #fff; /* Texto blanco */
  font-size: 18px;
}

.logout-button {
  background-color: rgba(67, 255, 142, 0.7); /* Naranja semi transparente */
  color: #fff; /* Texto blanco */
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logout-button:hover {
  background-color: #43ffd0; /* Naranja al pasar el cursor */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

/* Estilos de la tabla */
table {
  width: calc(100% - 40px);
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(165, 165, 165, 0.5);/* Negro transparente */
  color: white; /* Texto blanco */
}

th, td {
  border: none; /* Elimina las líneas de las celdas */
  padding: 10px; /* Ajusta el espaciado interno de las celdas */
  text-align: left;
}

.additional-table {
  width: calc(100% - 40px);
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #0dffd3; /* Actualizado al color verde suave */
}

/* Botón de agregar */
button.add-button {
  background-color: #0dffd3; /* Negro */
  color: #ffffff; /* Blanco */
  padding: 10px 20px; /* Ajustar el padding para hacer el botón más compacto */
  border: none; /* Elimina el borde del botón */
  border-radius: 15px; /* Ajustar el radio de los bordes del botón */
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; /* Ajusta la separación superior */
  margin-right: 20px; /* Ajusta el margen derecho para alejar del borde */
  margin-bottom: 10px; /* Ajusta la separación desde la parte inferior */
  float: right; /* Alinea el botón a la derecha */
}
